body {
	background: url(greyhighlight.jpg);
	background-attachment: fixed;
}
.intro-message {
	font-size: 300%;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 5%;
	color: #FFF;
}

h1 {
	font-size: 400%;
}

.painting1 {
	width: 600px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	background: url(painting1.JPG) no-repeat center center;
	background-size: cover;

}

.spacebetween {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 5%;
	color: #FFF;
}

.painting2 {
	width: 600px;
	height: 800px;
	padding-top: 50%;
	padding-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	background: url(girlflower.JPG) no-repeat center center;
	background-size: cover;
}

.spacebetween2 {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 5%;
	color: #FFF;

}

.painting3 {
	width: 600px;
	height: 800px;
	padding-top: 50%;
	padding-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	background: url(cityscape.JPG) no-repeat center center;
	background-size: cover;
}

.spacebetween3 {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 5%;
	color: #FFF;
}

.painting4 {
	width: 600px;
	height: 800px;
	padding-top: 50%;
	padding-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	background: url(landscape.jpg) no-repeat center center;
	background-size: cover;
}

.spacebetween4 {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 5%;
	color: #FFF;
}


.signup-form {
	text-align: center;
	color: #FFF;
	margin-left: auto;
	margin-right: auto;
}
